.Groß{font-size: large;text-align:center}
.PaddingFooter{padding-top:30px;padding-bottom:30px;}
.PaddingMitte{padding-top:50px;padding-bottom: 50px;}
.Center{margin-left:auto;margin-right:auto}
.TextBildMittig{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}


/*Farben*/
.WS{color:#fff;background-color:#000}
.W{color:#fff;}  
.B{color:#000}
.Schwarzhinterlegt{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;}


.Test{
  width:30px; 
  padding:125px; 
  margin:0 50px;
}

body {margin: 0;padding: 0;}
.navbar {background-color: #000000;height: 50px;}
nav ul {list-style: none;padding: 0;margin: 0;}
nav {float: auto;margin: 0;}
li {display: inline;padding: 100px;} 
nav a {text-decoration: none;color: #ffffff;display: inline-block;padding-top: 15px;}
  
  @media screen and (max-width: 700px) {
    nav {
      width: 100%;
      margin-top: -5px;
    }
  
    nav li {
      display: block;
      background-color: #e5e5e5;
      text-align: center;
    }
   }
